h2 {
    text-align: center;
}

hr {
    height: 5px;
    background-color: rgb(129, 4, 104);
}

.SVGCard {
    background-color: rgb(249, 236, 244);
    color: rgb(219, 230, 245);
}

.AAGCard {
    background-color: rgb(241, 208, 234);
    color: rgb(249, 213, 238);
}

.Racingcard {
    background-color: rgb(243, 186, 207);
    color: rgb(250, 217, 220);

}

.PVGcard {
    background-color: rgb(248, 189, 197);
    color: rgb(255, 255, 255);
}

.NullTypeCard {
    background-color: rgb(255, 133, 149);
    color: rgb(18, 16, 16);
}