
<br>
<app-modify-content (createNewGame)="addGame($event)"></app-modify-content>
<br><hr>

<p *ngIf="checkForTitleInList !== null" >
    <span [style]="checkForTitleInList ? 'color: green' : 'color: red'">
        {{checkForTitleInList ? 'Title Found' : 'Title Not Found'}}
    </span>
</p>

<br> <hr>

<div class="layout">
<h1 appHoveraffect="underline">Shooter Video Game</h1><hr>
<div *ngFor="let content of game | gameFilter:'Shooter Video Game'" class="SVGCard">
    <h2>{{content.title}}</h2>
    <p>{{content.description}}</p>
    <p>Publisher: {{content.publisher}}</p>
    <p appHoverAffect>Type: {{content.type}}</p>

    <div *ngIf="content.imageURL; else defaultImg">
        <img  [src]="content.imageURL">
    </div>
    <ng-template #defaultImg>
        <img  [src]="defaultImage">
    </ng-template>
</div>

<br> <hr> 

<h1 appHoveraffect="underline">Action-adventure Game</h1><hr>
<div *ngFor="let content of game | gameFilter:'action-adventure Game'" class="AAGCard">
    <h2>{{content.title}}</h2>
    <p>{{content.description}}</p>
    <p>Publisher: {{content.publisher}}</p>
    <p appHoverAffect>Type: {{content.type}}</p>

    <div *ngIf="content.imageURL; else defaultImg">
        <img [src]="content.imageURL">
    </div>
    <ng-template #defaultImg>
        <img [src]="defaultImage">
    </ng-template>
</div>

<br> <hr> 

<h1 appHoveraffect="underline">Racing Game</h1><hr>
<div *ngFor="let content of game | gameFilter:'racing game'" class="Racingcard">
    <h2>{{content.title}}</h2>
    <p>{{content.description}}</p>
    <p>Publisher: {{content.publisher}}</p>
    <p appHoverAffect>Type: {{content.type}}</p>

    <div *ngIf="content.imageURL; else defaultImg">
        <img [src]="content.imageURL">
    </div>
    <ng-template #defaultImg>
        <img [src]="defaultImage">
    </ng-template>
</div>

<br> <hr> 


<h1 appHoveraffect="underline">Puzzle video-game</h1><hr>
<div *ngFor="let content of game | gameFilter:'Puzzle video-game'" class="PVGcard">
    <h2>{{content.title}}</h2>
    <p>{{content.description}}</p>
    <p>Publisher: {{content.publisher}}</p>
    <p appHoverAffect>Type: {{content.type}}</p>


    <div *ngIf="content.imageURL; else defaultImg">
        <img [src]="content.imageURL">
    </div>
    <ng-template #defaultImg>
        <img [src]="defaultImage">
    </ng-template>
</div>